


.IDentFileDataGrid {

    /* position: absolute; */
    /* top:var(--file_grid_top); */
    /* left:var(--file_grid_left); */
    width:var(--file_grid_width);
    height:var(--file_grid_height);
    overflow-x: scroll;
    padding: 2px;
    color: var(--blue);
    

}