.model_params {

    /* position: absolute; */
    /* top:var(--file_grid_top); */
    /* left:var(--file_grid_left); */
    width: var(--model_parms_width);
    height: var(--model_parms_height);
    overflow-x: scroll;
    font-size: 10px;
    color: var(--blue);
    padding: 2px;


}