.model_data {

    /* position: absolute; */
    /* top:var(--file_grid_top); */
    /* left:var(--file_grid_left); */
    width: var(--results_data_width);
    height: var(--results_data_height);
    overflow-x: scroll;
    /* color:blue; */
    padding: 2px; 
    color: var(--blue);

}